// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diaries-link {
    margin-left: 10px;
    color: #5f9ea0;
}

.diaries-link:hover {
  color: #000033;;
}